.signUp {
    display: flex;
    padding: 3rem;

    &__left {
        flex: 1;
    }
    &__right {
        flex: 1;
    }

    // Large screens like laptops
    @media (max-width: 992px) {
        &__left {
            display: none;
        }
    }
}
