@use "../../index.module";

.landingHero {
    display: flex;
    flex-direction: column;
    &__top {
        display: flex;

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 10px;
            h1 {
                font-size: 80px;
                font-weight: 700;
                font-family: index.$font-merriweather;
                margin-top: 5rem;
                span {
                    color: index.$forestGreen;
                }
            }
            p {
                font-weight: 500;
                font-size: 24px;
                color: index.$greySubText;
                line-height: 40px;
            }
            ul {
                display: flex;
                li {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-family: index.$font-poppins;
                    color: index.$secondary-text;
                }
            }
        }

        .right {
            flex: 1;
            display: flex;
            position: relative;
            img {
                height: 650px;
                position: absolute;
                z-index: -1;
            }
        }

        // Large screens like laptops
        @media (max-width: 992px) {
            .right {
                display: none;
            }
            .left {
                flex: 1;
            }
        }
        /* Medium screens like tablets */
        @media (max-width: 768px) {
            &__left {
                h1 {
                    font-size: 40px;
                    font-weight: 700;

                    margin-top: 2rem;
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    color: index.$greySubText;
                    line-height: 20px;
                }
                ul {
                    li {
                        font-size: 12px;
                        img {
                            width: 24px;
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        height: 282px;
        background-color: index.$light-glass;
        border-radius: 16px;
        width: 100%;
        padding: 32px;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 100px;

        .carousel {
            min-width: 300px;
            height: 218px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            > img {
                width: 96px;
                height: 96px;
                object-fit: contain;
            }
            > h3 {
                font-size: 24px;
                color: index.$primaryText;
                font-family: index.$font-poppins;
            }
            > p {
                font-size: 18px;
                color: index.$greySubText;
                font-family: index.$font-poppins;
            }
        }
    }

    // Large screens like laptops
    @media (max-width: 992px) {
        &__bottom {
            margin-top: 100px;
        }
    }
}
