@use "../../index.module";

.navbar {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        color: index.$forestGreen;
        font-size: 24px;
        font-family: index.$font-merriweather;
    }
}
